.profile {
  margin: 0 auto;
  max-width: 800px;
  padding: 20px;
}

.child-info,
.parent-info {
  margin-bottom: 20px;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

label {
  font-weight: bold;
  margin-bottom: 5px;
}

.data {
  padding: 5px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 3px;
  background-color: #f5f5f5;
}

h2 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 18px;
}

.history-htm1-prof{
  width: 850px;
  height: 700px;
  box-shadow:0 12px 15px 0 rgba(0,0,0,.24),0 17px 50px 0 rgba(0,0,0,.19);
  background: rgb(255, 255, 255);
  border-radius:25px;
  padding: 10px 15px 10px 15px;
  margin: 10px 15px 15px 15px;
  overflow: scroll;
}

.data_history {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 3px;
  background-color: #f5f5f5;
}