.profile,
.profile-history{
  margin: 0 auto;
  max-width: 800px;
  padding: 20px;
}

.child-info,
.parent-info {
  margin-bottom: 20px;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

label {
  font-weight: bold;
  margin-bottom: 5px;
}

.data {
  padding: 5px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 3px;
  background-color: #f5f5f5;
}

h2 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 18px;
}

.history-htm1-prof{
  width: 850px;
  height: 750px;
  box-shadow:0 12px 15px 0 rgba(0,0,0,.24),0 17px 50px 0 rgba(0,0,0,.19);
  background: rgb(255, 255, 255);
  border-radius:25px;
  padding: 10px 15px 10px 15px;
  margin: 10px 15px 15px 15px;
  overflow: scroll;
}

.data_history {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 3px;
  background-color: #f5f5f5;
}

// *,:after,:before{box-sizing:border-box}
// .clearfix:after,.clearfix:before{content:'';display:tabble}
// .clearfix:after{clear:both;display:block}
// a{color:inherit;text-decoration:none}

.edit-main{
  padding: 20px 0 20px 0;
  width:100%;
  background-image: url(asset_path('userback.jpg'));
  font-family: "Nico Moji";
  font-size:25px;
  text-align: center;
}

.edit-wrap{
  width:100%;
  margin:auto;
  max-width:850px;
  min-height:1000px;
  position:relative;
  background: #ffffff;
  box-shadow:0 12px 15px 0 rgba(0,0,0,.24),0 17px 50px 0 rgba(0,0,0,.19);
}

.edit-html{
  width:100%;
  height:100%;
  position:absolute;
  padding:50px 70px 50px 70px;
  background:(40,57,101,.9);
  border-radius:25px;
}
.edit-html .edit-now-htm,
.edit-html .edit-edit-htm{
  top:0;
  left:0;
  right:0;
  bottom:0;
  position:absolute;
  transform:rotateY(180deg);
  backface-visibility:hidden;
  transition:all .4s linear;
}
.edit-html .now,
.edit-html .edit,
.login-form-edit .group .check{
  display:none;
}
.edit-html .tabb,
.login-form-edit .group .label,
.login-form-edit .group .button{
  text-transform:uppercase;
}
.edit-html .tabb{
  font-size:22px;
  margin-right:15px;
  padding-bottom:5px;
  margin:0 15px 10px 0;
  display:inline-block;
  border-bottom:2px solid transparent;
}
.edit-html .now:checked + .tabb,
.edit-html .edit:checked + .tabb{
  color:#696969;
  border-color:#FF8047;
}
.login-form-edit{
  min-height:345px;
  position:relative;
  perspective:1000px;
  transform-style:preserve-3d;
}
.login-form-edit .group{
  margin-bottom:15px;
}
.login-form-edit .group .label,
.login-form-edit .group .input,
.login-form-edit .group .button{
  width:100%;
  color:#938989c7;
  display:block;
}
.login-form-edit .group .input,
.login-form-edit .group .button{
  border:none;
  padding:15px 20px;
  border-radius:25px;
  background:rgba(200,100,100,.1);
}

.login-form-edit .group .input:focus{
  outline: solid 1px #FF8047;
}

.login-form-edit .group .label{
  color:#333333;
  font-size:30px;
}
.login-form-edit .group .button{
  background:#FFBFBE;
}
.login-form-edit .group label .icon{
width:15px;
height:15px;
  border-radius:2px;
  position:relative;
  display:inline-block;
  background:rgba(255,255,255,.1);
}
.login-form-edit .group label .icon:before,
.login-form-edit .group label .icon:after{
  content:'';
  width:10px;
  height:2px;
  background:#fff;
  position:absolute;
  transition:all .2s ease-in-out 0s;
}
.login-form-edit .group label .icon:before{
  left:3px;
  width:5px;
  bottom:6px;
  transform:scale(0) rotate(0);
}
.login-form-edit .group label .icon:after{
  top:6px;
  right:0;
  transform:scale(0) rotate(0);
}
.login-form-edit .group .check:checked + label{
  color:#fff;
}
.login-form-edit .group .check:checked + label .icon{
  background:#FF8047;
}
.login-form-edit .group .check:checked + label .icon:before{
  transform:scale(1) rotate(45deg);
}
.login-form-edit .group .check:checked + label .icon:after{
  transform:scale(1) rotate(-45deg);
}
.edit-html .now:checked + .tabb + .edit + .tabb + .login-form-edit .edit-now-htm{
  transform:rotate(0);
}
.edit-html .edit:checked + .tabb + .login-form-edit .edit-edit-htm{
  transform:rotate(0);
}

