body{
  height: 100%;
  color:#6a6f8c;
  font-family: "Nico Moji";
}
*,:after,:before{box-sizing:border-box}
.clearfix:after,.clearfix:before{content:'';display:table}
.clearfix:after{clear:both;display:block}
a{color:inherit;text-decoration:none}

.history-main{
  margin:5px;
  width:100%;
  height: 100%;
  background-image: url('/assets/showback.jpg');
  font-family: "Nico Moji";
}

.history-wrap{
  width:1000px;
  height: 1800px;
  margin:auto;
  position:relative;
  background: #FAF0E6;
  box-shadow:0 12px 15px 0 rgba(0,0,0,.24),0 17px 50px 0 rgba(0,0,0,.19);
}
.history-html{
  width:100%;
  position:absolute;
  padding:20px 30px 0 30px;
  display: block;
  text-align: center;
}
.history-title{
  font-size: 55px;
  line-height: 80px;
}
.history-form{
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  perspective:1000px;
  transform-style:preserve-3d;
}

.history-htm1{
  width: 850px;
  height: 450px;
  box-shadow:0 12px 15px 0 rgba(0,0,0,.24),0 17px 50px 0 rgba(0,0,0,.19);
  padding: 10px 15px 10px 15px;
  margin: 10px 15px 10px 15px;
}

.his-con{
  display:block;
  align-items: center;
}

.his-top{
  display: flex;
  justify-content: flex-start;
}

.his-down{
  display: flex;
  justify-content: space-between;
}

.his-left{
  display: block;
  justify-content: flex-start;
}

.his-left-down{
  display: flex;
  justify-content: space-between;
}


/* .history-form .button{
  width:100%;
  color:#696969;
  display:block;
  border:none;
  padding:15px 20px;
  border-radius:25px;
  background:rgba(200,100,100,.1);
  background:#F0FFFF;
}

.history-form .input{
  width:100%;
  color:#696969;
  display:block;
  border:none;
  padding:15px 20px;
  border-radius:25px;
  background:rgba(27, 9, 165, 0.1);
} */
