body{
  height: 100%;
  color:#6a6f8c;
  font-family: "Nico Moji";
}
*,:after,:before{box-sizing:border-box}
.clearfix:after,.clearfix:before{content:'';display:table}
.clearfix:after{clear:both;display:block}
a{color:inherit;text-decoration:none}

.history-main{
  margin:5px;
  width:100%;
  height: 100%;
  background-image: url('/assets/showback.jpg');
  font-family: "Nico Moji";
}

.history-wrap{
  width:1000px;
  height: 1800px;
  margin:auto;
  position:relative;
  /* box-shadow:0 12px 15px 0 rgba(0,0,0,.24),0 17px 50px 0 rgba(0,0,0,.19); */
}

.history-html{
  width:100%;
  position:absolute;
  padding:20px 30px 0 30px;
  display: block;
  text-align: center;
}
.history-title{
  font-size: 55px;
  line-height: 80px;
}
.history-form{
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  perspective:1000px;
  transform-style:preserve-3d;
}

.history-htm1{
  width: 850px;
  height: 450px;
  box-shadow:0 12px 15px 0 rgba(0,0,0,.24),0 17px 50px 0 rgba(0,0,0,.19);
  background: white;
  border-radius:25px;
  padding: 10px 15px 10px 15px;
  margin: 10px 15px 15px 15px;
}

.his-con{
  display:block;
  align-items: center;
}

.his-top{
  display: flex;
  justify-content: flex-start;
  font-size: 30px;
  align-items: flex-end;
  padding-bottom: 10px;
}

.his-son {
  font-size: 50px;
  line-height: 50px;
  color: brown;
}

.his-birthday {
  font-size: 50px;
  line-height: 50px;
  color: rgb(211, 12, 12);
}

.his-down{
  display: flex;
  justify-content: space-between;
}

.his-right{

}

.title-con{
  width: 400px;
  height: 50px;
  background-color: aqua;
}

.his-title-ex{
font-size: 15px;
display: flex;


}

.his-tit{
font-size: 25px;
}

.exp-con{
  height: 200px;
  background-color: aquamarine;

}

.his-exp-ex{
  display: flex;
}

.his-exp{
  font-size: 20px;
}

.his-right-down{
  height: 50px;
  background-color: aqua;
}

.his-back-ex{
  display: flex;
}

.his-back{
  font-size: 20px;
}


/* .history-form .button{
  width:100%;
  color:#696969;
  display:block;
  border:none;
  padding:15px 20px;
  border-radius:25px;
  background:rgba(200,100,100,.1);
  background:#F0FFFF;
}

.history-form .input{
  width:100%;
  color:#696969;
  display:block;
  border:none;
  padding:15px 20px;
  border-radius:25px;
  background:rgba(27, 9, 165, 0.1);
} */
