body{
  color:#6a6f8c;
}
*,:after,:before{box-sizing:border-box}
.clearfix:after,.clearfix:before{content:'';display:table}
.clearfix:after{clear:both;display:block}
a{color:inherit;text-decoration:none}

.result-main{
  margin:5px;
  width:100%;
  background-image: url('/assets/resultback.jpg');
  font-family: "Nico Moji";
}

.result-wrap{
  margin:auto;
  width:1000px;
  height:1000px;
  position:relative;
  background: #FAF0E6;
  box-shadow:0 12px 15px 0 rgba(0,0,0,.24),0 17px 50px 0 rgba(0,0,0,.19);
}
.result-html{
  width:100%;
  height:100%;
  position:absolute;
  padding:20px;
  display: block;
  text-align: center;
}
.result-title{
  font-size: 55px;
  line-height: 80px;
  padding-bottom: 10px;
}
.result-form{
  position:absolute;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.result-htm1{
  position:relative;
  width: 400px;
  height: 420px;
  padding: 10px 15px 10px 15px;
  margin: 10px 15px 10px 15px;
  box-shadow:0 12px 15px 0 rgba(0,0,0,.24),0 17px 50px 0 rgba(0,0,0,.19);
}

.htm1-con{
  display: block;
  align-items: center;
}

.htm1-up{
  display: flex;
  justify-content: space-between;
}

/* .result-img{
  width: 380px;
  height: 350px;
} */

/* .result-form .button{
  width:100%;
  color:#696969;
  display:block;
  border:none;
  padding:15px 20px;
  border-radius:25px;
  background:rgba(200,100,100,.1);
  background:#F0FFFF;
}

.result-form .input{
  width:100%;
  color:#696969;
  display:block;
  border:none;
  padding:15px 20px;
  border-radius:25px;
  background:rgba(27, 9, 165, 0.1);
} */
