body{
  color:#6a6f8c;
}
*,:after,:before{box-sizing:border-box}
.clearfix:after,.clearfix:before{content:'';display:table}
.clearfix:after{clear:both;display:block}
a{color:inherit;text-decoration:none}

.result-main{
  margin:5px;
  width:100%;
  height: 1300px;
  background-image: url('/assets/resultback.jpg');
  font-family: "Nico Moji";
}

.result-wrap{
  margin:auto;
  width:1000px;
  height:1000px;
  position:relative;
  /* background: #FAF0E6;
  box-shadow:0 12px 15px 0 rgba(0,0,0,.24),0 17px 50px 0 rgba(0,0,0,.19); */
}
.result-html{
  /* background-color: white; */
  width:100%;
  height:100%;
  position:absolute;
  padding:20px;
  display: block;
  text-align: center;
}
.result-title{
  font-size: 45px;
  line-height: 80px;
  padding-bottom: 10px;
}
.result-form{
  position:absolute;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.result-htm1{
  position:relative;
  background-color: rgb(246, 246, 246);
  border-radius:25px;
  width: 400px;
  height: 420px;
  padding: 10px 15px 10px 15px;
  margin: 10px 15px 10px 15px;
  box-shadow:0 12px 15px 0 rgba(0,0,0,.24),0 17px 50px 0 rgba(0,0,0,.19);
}

.htm1-con{
  display: block;
  align-items: center;
}

.htm1-up{
  display: flex;
  justify-content: space-between;
}

.right-title{
  display: flex;
  flex-direction: column;
}

.htm1-title{
  font-size: 20px;
}

.submit-link {
  background-color: #FF8047;
  border: none;
  padding: 10px;
  font-size: 15px;
  width: 80px;
  border-radius: 15px;
  color: #FBEDEB;
  box-shadow: 0 5px #dfd9d9;
  cursor: pointer;
  font-family: "Nico Moji";
}

.submit-link:active {
  color: white;
  box-shadow: 0 0.2rem #dfd9d9;
  transform: translateY(0.2rem);
}

.submit-link:hover:not(:disabled) {
  background: #636363;
  color: white;
  text-shadow: 0 0.1rem #bcb4b4;
}

.submit-link:disabled {
  cursor: auto;
  color: grey;
}

.result-exp{
  width: 350px;
  padding-left: 10px;
}

.by--u{
  transform-origin: center bottom;
    animation: byu_anime 7s linear infinite;
  width: 70px;
  height: 70px;
  position:absolute;
  left: 47.5%;
  top: 25%;
}

@keyframes byu_anime {
  0% { transform:translateY(0) }
  50% { transform:translateY(700px) }
  100% { transform:translateY(0) }
}
