.hoge {
  position: relative;
}

.hoge::before,
.hoge::after {
  position: absolute;
  content: '';
  pointer-events: none;
}

.hoge::before {
  right: 0;
  display: inline-block;
  width: 2.8em;
  height: 2.8em;
  border-radius: 0 25px 25px 0;
  background-color: #d4de3f;
  content: '';
}

.hoge::after {
  position: absolute;
  top: 50%;
  right: 1.4em;
  transform: translate(50%, -50%) rotate(45deg);
  width: 6px;
  height: 6px;
  border-bottom: 3px solid #fff;
  border-right: 3px solid #fff;
  content: '';
}

.hoge select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  min-width: 230px;
  height: 2.8em;
  padding: 5px;
  border: 2px solid #d4de3f;
  border-radius: 25px;
  color: #525151;
  font-size: 1em;
  cursor: pointer;
}

.hoge select:focus {
  outline: 1px solid #d4de3f;
}