/*========= レイアウトのためのCSS ===============*/
header {
  height: 50px;
  background: #FFC0CB;
}

.kaiketu-png{
  margin-top: 10px;
  width: 1000px;
  height: 700px;
}

.kaiketu {
  display: flex;
  justify-content: space-around;
  background-image: url('/assets/utyu.jpeg');
  background-size: 100%;
  width: 100%;
  height: 700px;
  padding: 0 40px;
}

.kaiketu-btn{
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-link {
  background-color: #FF8047;
  border: none;
  padding: 30px;
  font-size: 30px;
  width: 350px;
  border-radius: 15px;
  color: #FBEDEB;
  box-shadow: 0 5px #dfd9d9;
  cursor: pointer;
  font-family: "Nico Moji";
}

.btn-link:active {
  color: white;
  box-shadow: 0 0.2rem #dfd9d9;
  transform: translateY(0.2rem);
}

.btn-link:hover:not(:disabled) {
  background: #636363;
  color: white;
  text-shadow: 0 0.1rem #bcb4b4;
}

.btn-link:disabled {
  cursor: auto;
  color: grey;
}

main{
  display: flex;
  flex-direction: column;
  align-items: center;
}

section{
  padding:50px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: white;
}

section:nth-child(2n){
  background:white; 
}

.contents{
  display: flex;
  justify-content: space-around;
  width: 1200px;
  align-items: center;
  font-family: "Nico Moji";
}

.link{
  font-size: 35px;
}

p{
  margin-top:30px;  
}


#footer{
  background: #FFC0CB;
  padding:20px;
}

a{
  color: #333;
}

a:hover{
  text-decoration: none;
}

small{
  color: black;
  display: block;
  text-align: center;
}