/*========= レイアウトのためのCSS ===============*/
header {
  height: 50px;
  background: #FFC0CB;
}

.kaiketu-png{
  margin-top: 10px;
  width: 1000px;
  height: 700px;
}

.kaiketu {
  position: relative;
}

.kaiketu-btn{
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size:6vw;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

ul{
  margin:0;
  padding: 0;
  list-style: none;
}

.btn-link {
  background-color: #FF8047;
  border: none;
  padding: 30px;
  font-size: 30px;
  width: 350px;
  border-radius: 15px;
  color: #FBEDEB;
  box-shadow: 0 5px #dfd9d9;
  cursor: pointer;
  font-family: "Nico Moji";
}

.btn-link:active {
  color: white;
  box-shadow: 0 0.2rem #dfd9d9;
  transform: translateY(0.2rem);
}

.btn-link:hover:not(:disabled) {
  background: #636363;
  color: white;
  text-shadow: 0 0.1rem #bcb4b4;
}

.btn-link:disabled {
  cursor: auto;
  color: grey;
}

main{
  display: flex;
  flex-direction: column;
  align-items: center;
}

section{
  margin-right: 60px;
  padding:50px 20px 50px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: white;
}

section:nth-child(2n){
  background:white; 
}

.contents{
  display: flex;
  justify-content: space-around;
  width: 1200px;
  align-items: center;
  font-family: "Nico Moji";
}

.content{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.cintent-up{
  font-size: 50px;
}

.content-down{
  font-size: 19px;
}

.link{
  font-size: 35px;
}

p{
  margin-top:30px;  
}


#footer{
  background: #FFC0CB;
  padding:20px;
}

a{
  color: #333;
}

a:hover{
  text-decoration: none;
}

small{
  color: black;
  display: block;
  text-align: center;
}

.fuwafuwa {
  animation: fuwafuwa 3s infinite ease-in-out .8s alternate;
  background-image: url('/assets/utyujin.png') no-repeat center center / 60px auto;
  display: inline-block;
  transition: 1.5s ease-in-out;
  width: 100px;
  height: 100px;
  margin-top: 15px;
}

@keyframes fuwafuwa {
  0% {
    transform:translate(0, 0) rotate(-7deg);
  }
  50% {
    transform:translate(0, -7px) rotate(0deg);
  }
  100% {
    transform:translate(0, 0) rotate(7deg);
  }
}